body {
    background: white;
    color: black;
    padding: 0px;
}
.main_content {
    padding: 20px;
}

.nav {
    background: black;
    padding: 20px;
}
.nav a {
    color: white;
    font-size: 18px;
    margin-right: 10px;
}

form .form-control{
    max-width: 350px;
    margin: 10px;
}

.errors {
    font-weight:bold;
    color: red;
}